@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  font-family: "Inter", sans-serif;
  background-color: #ffff;
  color: black;
}
body {
  background-color: rgba(235, 235, 235, 1);
}
.bg {
  background: var(
    --Linear,
    linear-gradient(125.07deg, rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%)
  );
}
.seeBtn {
  border-radius: 4px;
  background: linear-gradient(
    125.07deg,
    rgba(99, 46, 227, 1),
    rgba(159, 98, 242, 1) 100%
  );
  color: white;
}
